In [2]:
import warnings
warnings .filterwarnings('ignore')

# improting the librarires

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from word2number import w2n
from tqdm import tqdm

In [3]:
!pip install word2number

Requirement already satisfied: word2number in /Users/vipul/opt/anaconda3/lib/python3.9/site-packages (1.1)

In [4]:
cars= pd.read_csv("CarPrice_Data.csv")

In [5]:
cars.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,NaN,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,NaN,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [6]:
cars.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [7]:
cars.shape

(205, 26)

In [8]:
cars.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [9]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          194 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           200 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    193 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [10]:
cars.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [11]:
list(cars.columns)

['car_ID',
 'symboling',
 'CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginetype',
 'cylindernumber',
 'enginesize',
 'fuelsystem',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg',
 'price']

In [12]:
for x in cars.columns:
    print(x)

car_ID
symboling
CarName
fueltype
aspiration
doornumber
carbody
drivewheel
enginelocation
wheelbase
carlength
carwidth
carheight
curbweight
enginetype
cylindernumber
enginesize
fuelsystem
boreratio
stroke
compressionratio
horsepower
peakrpm
citympg
highwaympg
price

In [13]:
cars.describe().T

,count,mean,std,min,25%,50%,75%,max
car_ID,205.0,103.000000,59.322565,1.00,52.00,103.00,154.00,205.00
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [14]:
cars.describe(include="object").T

               count unique            top freq
CarName          205    147  toyota corona    6
fueltype         194      2            gas  174
aspiration       205      2            std  168
doornumber       205      2           four  115
carbody          200      5          sedan   91
drivewheel       205      3            fwd  120
enginelocation   193      2          front  190
enginetype       205      7            ohc  148
cylindernumber   205      7           four  159
fuelsystem       205      8           mpfi   94

In [15]:
list(cars.columns[cars.dtypes == 'int64'])

['car_ID',
 'symboling',
 'curbweight',
 'enginesize',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']

In [16]:
cars.iloc[0:5,0:4]

   car_ID  symboling                   CarName fueltype
0       1          3        alfa-romero giulia      gas
1       2          3       alfa-romero stelvio      gas
2       3          1  alfa-romero Quadrifoglio      gas
3       4          2               audi 100 ls      gas
4       5          2                audi 100ls      gas

In [17]:
cars.iloc[0:5]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,NaN,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,NaN,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [18]:
cars.loc[0:5,['CarName','fueltype']]

                    CarName fueltype
0        alfa-romero giulia      gas
1       alfa-romero stelvio      gas
2  alfa-romero Quadrifoglio      gas
3               audi 100 ls      gas
4                audi 100ls      gas
5                  audi fox      gas

In [19]:
cars['fueltype'].unique()

array(['gas', nan, 'diesel'], dtype=object)

In [20]:
cars['fueltype'].dtype

dtype('O')

In [21]:
cars['fueltype'].value_counts()

gas       174
diesel     20
Name: fueltype, dtype: int64

In [22]:
cars.isnull().sum()

car_ID               0
symboling            0
CarName              0
fueltype            11
aspiration           0
doornumber           0
carbody              5
drivewheel           0
enginelocation      12
wheelbase            0
carlength            0
carwidth             0
carheight            0
curbweight           0
enginetype           0
cylindernumber       0
enginesize           0
fuelsystem           0
boreratio            0
stroke               0
compressionratio     0
horsepower           0
peakrpm              0
citympg              0
highwaympg           0
price                0
dtype: int64

In [23]:
cars_copy= cars.copy()

In [24]:
null_columns=cars.columns[cars.isnull().any()]
cars[null_columns].isnull().sum()*100/len(cars)

fueltype          5.365854
carbody           2.439024
enginelocation    5.853659
dtype: float64

In [25]:
list(null)

NameError: name 'null' is not defined

In [26]:
for x in cars.columns[cars.isnull().any()]:
    print('---------------')
    print('coulmn name',x)
    print('---------------')
    print(cars[x].value_counts()*100/len(cars))
    print(cars[x].value_counts())

---------------
coulmn name fueltype
---------------
gas       84.878049
diesel     9.756098
Name: fueltype, dtype: float64
gas       174
diesel     20
Name: fueltype, dtype: int64
---------------
coulmn name carbody
---------------
sedan          44.390244
hatchback      34.146341
wagon          12.195122
hardtop         3.902439
convertible     2.926829
Name: carbody, dtype: float64
sedan          91
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
---------------
coulmn name enginelocation
---------------
front    92.682927
rear      1.463415
Name: enginelocation, dtype: float64
front    190
rear       3
Name: enginelocation, dtype: int64

In [28]:
cars['fueltype'].fillna (value='gas',inplace=True)
cars['enginelocation'].fillna (value='front',inplace=True)

In [29]:
cars['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [30]:
cars['enginelocation'].unique()

array(['front', 'rear'], dtype=object)

In [32]:
for x in cars.columns:
    print('---------------')
    print('coulmn name',x)
    print('---------------')
    print(cars[x].value_counts()*100/len(cars))
    print(cars[x].value_counts())

---------------
coulmn name car_ID
---------------
1      0.487805
142    0.487805
132    0.487805
133    0.487805
134    0.487805
         ...
72     0.487805
73     0.487805
74     0.487805
75     0.487805
205    0.487805
Name: car_ID, Length: 205, dtype: float64
1      1
142    1
132    1
133    1
134    1
      ..
72     1
73     1
74     1
75     1
205    1
Name: car_ID, Length: 205, dtype: int64
---------------
coulmn name symboling
---------------
 0    32.682927
 1    26.341463
 2    15.609756
 3    13.170732
-1    10.731707
-2     1.463415
Name: symboling, dtype: float64
 0    67
 1    54
 2    32
 3    27
-1    22
-2     3
Name: symboling, dtype: int64
---------------
coulmn name CarName
---------------
toyota corona           2.926829
toyota corolla          2.926829
peugeot 504             2.926829
subaru dl               1.951220
mitsubishi mirage g4    1.463415
                          ...
mazda glc 4             0.487805
mazda rx2 coupe         0.487805
maxda glc deluxe        0.487805
maxda rx3               0.487805
volvo 246               0.487805
Name: CarName, Length: 147, dtype: float64
toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: CarName, Length: 147, dtype: int64
---------------
coulmn name fueltype
---------------
gas       90.243902
diesel     9.756098
Name: fueltype, dtype: float64
gas       185
diesel     20
Name: fueltype, dtype: int64
---------------
coulmn name aspiration
---------------
std      81.95122
turbo    18.04878
Name: aspiration, dtype: float64
std      168
turbo     37
Name: aspiration, dtype: int64
---------------
coulmn name doornumber
---------------
four    56.097561
two     43.902439
Name: doornumber, dtype: float64
four    115
two      90
Name: doornumber, dtype: int64
---------------
coulmn name carbody
---------------
sedan          44.390244
hatchback      34.146341
wagon          12.195122
hardtop         3.902439
convertible     2.926829
Name: carbody, dtype: float64
sedan          91
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
---------------
coulmn name drivewheel
---------------
fwd    58.536585
rwd    37.073171
4wd     4.390244
Name: drivewheel, dtype: float64
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
---------------
coulmn name enginelocation
---------------
front    98.536585
rear      1.463415
Name: enginelocation, dtype: float64
front    202
rear       3
Name: enginelocation, dtype: int64
---------------
coulmn name wheelbase
---------------
94.5     10.243902
93.7      9.756098
95.7      6.341463
96.5      3.902439
97.3      3.414634
98.4      3.414634
104.3     2.926829
100.4     2.926829
107.9     2.926829
98.8      2.926829
99.1      2.926829
96.3      2.926829
109.1     2.439024
93.1      2.439024
97.2      2.439024
95.9      2.439024
102.4     2.439024
97.0      1.951220
95.3      1.951220
114.2     1.951220
101.2     1.951220
110.0     1.463415
103.5     1.463415
89.5      1.463415
105.8     1.463415
96.1      0.975610
102.9     0.975610
104.5     0.975610
91.3      0.975610
96.9      0.975610
88.6      0.975610
113.0     0.975610
99.8      0.975610
115.6     0.975610
103.3     0.975610
86.6      0.975610
104.9     0.975610
93.3      0.487805
99.4      0.487805
99.5      0.487805
88.4      0.487805
94.3      0.487805
96.0      0.487805
95.1      0.487805
93.0      0.487805
102.0     0.487805
106.7     0.487805
108.0     0.487805
96.6      0.487805
99.2      0.487805
112.0     0.487805
102.7     0.487805
120.9     0.487805
Name: wheelbase, dtype: float64
94.5     21
93.7     20
95.7     13
96.5      8
97.3      7
98.4      7
104.3     6
100.4     6
107.9     6
98.8      6
99.1      6
96.3      6
109.1     5
93.1      5
97.2      5
95.9      5
102.4     5
97.0      4
95.3      4
114.2     4
101.2     4
110.0     3
103.5     3
89.5      3
105.8     3
96.1      2
102.9     2
104.5     2
91.3      2
96.9      2
88.6      2
113.0     2
99.8      2
115.6     2
103.3     2
86.6      2
104.9     2
93.3      1
99.4      1
99.5      1
88.4      1
94.3      1
96.0      1
95.1      1
93.0      1
102.0     1
106.7     1
108.0     1
96.6      1
99.2      1
112.0     1
102.7     1
120.9     1
Name: wheelbase, dtype: int64
---------------
coulmn name carlength
---------------
157.3    7.317073
188.8    5.365854
171.7    3.414634
186.7    3.414634
166.3    3.414634
           ...
165.6    0.487805
187.5    0.487805
180.3    0.487805
208.1    0.487805
199.2    0.487805
Name: carlength, Length: 75, dtype: float64
157.3    15
188.8    11
171.7     7
186.7     7
166.3     7
         ..
165.6     1
187.5     1
180.3     1
208.1     1
199.2     1
Name: carlength, Length: 75, dtype: int64
---------------
coulmn name carwidth
---------------
63.8    11.707317
66.5    11.219512
65.4     7.317073
63.6     5.365854
64.4     4.878049
68.4     4.878049
64.0     4.390244
65.5     3.902439
65.2     3.414634
64.2     2.926829
66.3     2.926829
65.6     2.926829
67.2     2.926829
67.9     2.439024
66.9     2.439024
65.7     1.951220
68.9     1.951220
64.8     1.951220
63.9     1.463415
70.3     1.463415
71.7     1.463415
71.4     1.463415
65.0     1.463415
68.3     0.975610
67.7     0.975610
64.1     0.975610
66.1     0.975610
69.6     0.975610
64.6     0.975610
72.0     0.487805
68.0     0.487805
70.5     0.487805
61.8     0.487805
66.0     0.487805
62.5     0.487805
70.6     0.487805
72.3     0.487805
66.6     0.487805
63.4     0.487805
60.3     0.487805
70.9     0.487805
66.4     0.487805
66.2     0.487805
68.8     0.487805
Name: carwidth, dtype: float64
63.8    24
66.5    23
65.4    15
63.6    11
64.4    10
68.4    10
64.0     9
65.5     8
65.2     7
64.2     6
66.3     6
65.6     6
67.2     6
67.9     5
66.9     5
65.7     4
68.9     4
64.8     4
63.9     3
70.3     3
71.7     3
71.4     3
65.0     3
68.3     2
67.7     2
64.1     2
66.1     2
69.6     2
64.6     2
72.0     1
68.0     1
70.5     1
61.8     1
66.0     1
62.5     1
70.6     1
72.3     1
66.6     1
63.4     1
60.3     1
70.9     1
66.4     1
66.2     1
68.8     1
Name: carwidth, dtype: int64
---------------
coulmn name carheight
---------------
50.8    6.829268
52.0    5.853659
55.7    5.853659
54.1    4.878049
54.5    4.878049
55.5    4.390244
56.7    3.902439
54.3    3.902439
52.6    3.414634
56.1    3.414634
51.6    3.414634
53.0    2.926829
52.8    2.926829
54.9    2.926829
50.2    2.926829
53.7    2.439024
55.1    2.439024
50.6    2.439024
49.6    1.951220
58.7    1.951220
53.3    1.951220
52.5    1.463415
59.1    1.463415
56.2    1.463415
49.7    1.463415
57.5    1.463415
53.5    1.463415
54.4    0.975610
53.9    0.975610
56.3    0.975610
50.5    0.975610
59.8    0.975610
56.5    0.975610
54.7    0.975610
48.8    0.975610
49.4    0.975610
51.4    0.975610
51.0    0.487805
54.8    0.487805
55.4    0.487805
56.0    0.487805
55.2    0.487805
53.2    0.487805
47.8    0.487805
55.9    0.487805
52.4    0.487805
55.6    0.487805
53.1    0.487805
58.3    0.487805
Name: carheight, dtype: float64
50.8    14
52.0    12
55.7    12
54.1    10
54.5    10
55.5     9
56.7     8
54.3     8
52.6     7
56.1     7
51.6     7
53.0     6
52.8     6
54.9     6
50.2     6
53.7     5
55.1     5
50.6     5
49.6     4
58.7     4
53.3     4
52.5     3
59.1     3
56.2     3
49.7     3
57.5     3
53.5     3
54.4     2
53.9     2
56.3     2
50.5     2
59.8     2
56.5     2
54.7     2
48.8     2
49.4     2
51.4     2
51.0     1
54.8     1
55.4     1
56.0     1
55.2     1
53.2     1
47.8     1
55.9     1
52.4     1
55.6     1
53.1     1
58.3     1
Name: carheight, dtype: int64
---------------
coulmn name curbweight
---------------
2385    1.951220
1918    1.463415
2275    1.463415
1989    1.463415
2410    0.975610
          ...
2370    0.487805
2328    0.487805
2833    0.487805
2921    0.487805
3062    0.487805
Name: curbweight, Length: 171, dtype: float64
2385    4
1918    3
2275    3
1989    3
2410    2
       ..
2370    1
2328    1
2833    1
2921    1
3062    1
Name: curbweight, Length: 171, dtype: int64
---------------
coulmn name enginetype
---------------
ohc      72.195122
ohcf      7.317073
ohcv      6.341463
dohc      5.853659
l         5.853659
rotor     1.951220
dohcv     0.487805
Name: enginetype, dtype: float64
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
---------------
coulmn name cylindernumber
---------------
four      77.560976
six       11.707317
five       5.365854
eight      2.439024
two        1.951220
three      0.487805
twelve     0.487805
Name: cylindernumber, dtype: float64
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
---------------
coulmn name enginesize
---------------
122    7.317073
92     7.317073
97     6.829268
98     6.829268
108    6.341463
90     5.853659
110    5.853659
109    3.902439
120    3.414634
141    3.414634
152    2.926829
181    2.926829
146    2.926829
121    2.926829
156    2.439024
136    2.439024
91     2.439024
183    1.951220
130    1.951220
171    1.463415
70     1.463415
194    1.463415
209    1.463415
164    1.463415
258    0.975610
140    0.975610
134    0.975610
234    0.975610
132    0.975610
131    0.975610
173    0.487805
203    0.487805
161    0.487805
80     0.487805
151    0.487805
103    0.487805
304    0.487805
308    0.487805
326    0.487805
119    0.487805
111    0.487805
79     0.487805
61     0.487805
145    0.487805
Name: enginesize, dtype: float64
122    15
92     15
97     14
98     14
108    13
90     12
110    12
109     8
120     7
141     7
152     6
181     6
146     6
121     6
156     5
136     5
91      5
183     4
130     4
171     3
70      3
194     3
209     3
164     3
258     2
140     2
134     2
234     2
132     2
131     2
173     1
203     1
161     1
80      1
151     1
103     1
304     1
308     1
326     1
119     1
111     1
79      1
61      1
145     1
Name: enginesize, dtype: int64
---------------
coulmn name fuelsystem
---------------
mpfi    45.853659
2bbl    32.195122
idi      9.756098
1bbl     5.365854
spdi     4.390244
4bbl     1.463415
mfi      0.487805
spfi     0.487805
Name: fuelsystem, dtype: float64
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
---------------
coulmn name boreratio
---------------
3.62    11.219512
3.19     9.756098
3.15     7.317073
3.03     5.853659
2.97     5.853659
3.46     4.390244
3.31     3.902439
3.43     3.902439
3.78     3.902439
3.27     3.414634
2.91     3.414634
3.58     2.926829
3.39     2.926829
3.33     2.926829
3.05     2.926829
3.54     2.926829
3.70     2.439024
3.01     2.439024
3.35     1.951220
3.17     1.463415
3.59     1.463415
3.74     1.463415
3.47     0.975610
3.94     0.975610
3.24     0.975610
3.63     0.975610
3.13     0.975610
3.80     0.975610
3.50     0.975610
2.54     0.487805
3.08     0.487805
3.61     0.487805
3.34     0.487805
2.68     0.487805
3.60     0.487805
2.92     0.487805
3.76     0.487805
2.99     0.487805
Name: boreratio, dtype: float64
3.62    23
3.19    20
3.15    15
3.03    12
2.97    12
3.46     9
3.31     8
3.43     8
3.78     8
3.27     7
2.91     7
3.58     6
3.39     6
3.33     6
3.05     6
3.54     6
3.70     5
3.01     5
3.35     4
3.17     3
3.59     3
3.74     3
3.47     2
3.94     2
3.24     2
3.63     2
3.13     2
3.80     2
3.50     2
2.54     1
3.08     1
3.61     1
3.34     1
2.68     1
3.60     1
2.92     1
3.76     1
2.99     1
Name: boreratio, dtype: int64
---------------
coulmn name stroke
---------------
3.400    9.756098
3.230    6.829268
3.150    6.829268
3.030    6.829268
3.390    6.341463
2.640    5.365854
3.290    4.390244
3.350    4.390244
3.460    3.902439
3.110    2.926829
3.270    2.926829
3.410    2.926829
3.070    2.926829
3.580    2.926829
3.190    2.926829
3.500    2.926829
3.640    2.439024
3.520    2.439024
3.860    1.951220
3.540    1.951220
3.470    1.951220
3.255    1.951220
3.900    1.463415
2.900    1.463415
3.100    0.975610
4.170    0.975610
2.800    0.975610
2.190    0.975610
3.080    0.975610
2.680    0.975610
2.360    0.487805
3.160    0.487805
2.070    0.487805
3.210    0.487805
3.120    0.487805
2.760    0.487805
2.870    0.487805
Name: stroke, dtype: float64
3.400    20
3.230    14
3.150    14
3.030    14
3.390    13
2.640    11
3.290     9
3.350     9
3.460     8
3.110     6
3.270     6
3.410     6
3.070     6
3.580     6
3.190     6
3.500     6
3.640     5
3.520     5
3.860     4
3.540     4
3.470     4
3.255     4
3.900     3
2.900     3
3.100     2
4.170     2
2.800     2
2.190     2
3.080     2
2.680     2
2.360     1
3.160     1
2.070     1
3.210     1
3.120     1
2.760     1
2.870     1
Name: stroke, dtype: int64
---------------
coulmn name compressionratio
---------------
9.00     22.439024
9.40     12.682927
8.50      6.829268
9.50      6.341463
9.30      5.365854
8.70      4.390244
8.00      3.902439
9.20      3.902439
7.00      3.414634
8.60      2.439024
21.00     2.439024
8.40      2.439024
7.50      2.439024
23.00     2.439024
9.60      2.439024
21.50     1.951220
7.60      1.951220
10.00     1.463415
22.50     1.463415
8.30      1.463415
8.80      1.463415
7.70      0.975610
8.10      0.975610
9.10      0.487805
9.31      0.487805
7.80      0.487805
9.41      0.487805
21.90     0.487805
22.00     0.487805
22.70     0.487805
10.10     0.487805
11.50     0.487805
Name: compressionratio, dtype: float64
9.00     46
9.40     26
8.50     14
9.50     13
9.30     11
8.70      9
8.00      8
9.20      8
7.00      7
8.60      5
21.00     5
8.40      5
7.50      5
23.00     5
9.60      5
21.50     4
7.60      4
10.00     3
22.50     3
8.30      3
8.80      3
7.70      2
8.10      2
9.10      1
9.31      1
7.80      1
9.41      1
21.90     1
22.00     1
22.70     1
10.10     1
11.50     1
Name: compressionratio, dtype: int64
---------------
coulmn name horsepower
---------------
68     9.268293
70     5.365854
69     4.878049
116    4.390244
110    3.902439
95     3.414634
114    2.926829
160    2.926829
101    2.926829
62     2.926829
88     2.926829
145    2.439024
76     2.439024
97     2.439024
84     2.439024
90     2.439024
82     2.439024
102    2.439024
92     1.951220
111    1.951220
123    1.951220
86     1.951220
207    1.463415
73     1.463415
182    1.463415
121    1.463415
85     1.463415
152    1.463415
176    0.975610
94     0.975610
56     0.975610
112    0.975610
161    0.975610
184    0.975610
155    0.975610
156    0.975610
52     0.975610
100    0.975610
162    0.975610
140    0.487805
115    0.487805
134    0.487805
78     0.487805
142    0.487805
288    0.487805
143    0.487805
48     0.487805
200    0.487805
58     0.487805
55     0.487805
60     0.487805
175    0.487805
154    0.487805
72     0.487805
120    0.487805
64     0.487805
135    0.487805
262    0.487805
106    0.487805
Name: horsepower, dtype: float64
68     19
70     11
69     10
116     9
110     8
95      7
114     6
160     6
101     6
62      6
88      6
145     5
76      5
97      5
84      5
90      5
82      5
102     5
92      4
111     4
123     4
86      4
207     3
73      3
182     3
121     3
85      3
152     3
176     2
94      2
56      2
112     2
161     2
184     2
155     2
156     2
52      2
100     2
162     2
140     1
115     1
134     1
78      1
142     1
288     1
143     1
48      1
200     1
58      1
55      1
60      1
175     1
154     1
72      1
120     1
64      1
135     1
262     1
106     1
Name: horsepower, dtype: int64
---------------
coulmn name peakrpm
---------------
5500    18.048780
4800    17.560976
5000    13.170732
5200    11.219512
5400     6.341463
6000     4.390244
4500     3.414634
5800     3.414634
5250     3.414634
5100     2.439024
4150     2.439024
4200     2.439024
4350     1.951220
4750     1.951220
5900     1.463415
4250     1.463415
4400     1.463415
6600     0.975610
4650     0.487805
5600     0.487805
5750     0.487805
4900     0.487805
5300     0.487805
Name: peakrpm, dtype: float64
5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
4500     7
5800     7
5250     7
5100     5
4150     5
4200     5
4350     4
4750     4
5900     3
4250     3
4400     3
6600     2
4650     1
5600     1
5750     1
4900     1
5300     1
Name: peakrpm, dtype: int64
---------------
coulmn name citympg
---------------
31    13.658537
19    13.170732
24    10.731707
27     6.829268
17     6.341463
26     5.853659
23     5.853659
21     3.902439
25     3.902439
30     3.902439
38     3.414634
28     3.414634
16     2.926829
37     2.926829
22     1.951220
29     1.463415
15     1.463415
20     1.463415
18     1.463415
14     0.975610
34     0.487805
35     0.487805
32     0.487805
36     0.487805
45     0.487805
13     0.487805
49     0.487805
47     0.487805
33     0.487805
Name: citympg, dtype: float64
31    28
19    27
24    22
27    14
17    13
26    12
23    12
21     8
25     8
30     8
38     7
28     7
16     6
37     6
22     4
29     3
15     3
20     3
18     3
14     2
34     1
35     1
32     1
36     1
45     1
13     1
49     1
47     1
33     1
Name: citympg, dtype: int64
---------------
coulmn name highwaympg
---------------
25    9.268293
38    8.292683
24    8.292683
30    7.804878
32    7.804878
34    6.829268
37    6.341463
28    6.341463
29    4.878049
33    4.390244
22    3.902439
31    3.902439
23    3.414634
27    2.439024
43    1.951220
42    1.463415
26    1.463415
41    1.463415
19    0.975610
39    0.975610
18    0.975610
16    0.975610
20    0.975610
36    0.975610
47    0.975610
46    0.975610
54    0.487805
17    0.487805
53    0.487805
50    0.487805
Name: highwaympg, dtype: float64
25    19
38    17
24    17
30    16
32    16
34    14
37    13
28    13
29    10
33     9
22     8
31     8
23     7
27     5
43     4
42     3
26     3
41     3
19     2
39     2
18     2
16     2
20     2
36     2
47     2
46     2
54     1
17     1
53     1
50     1
Name: highwaympg, dtype: int64
---------------
coulmn name price
---------------
8921.0     0.975610
9279.0     0.975610
7898.0     0.975610
8916.5     0.975610
7775.0     0.975610
             ...
45400.0    0.487805
16503.0    0.487805
5389.0     0.487805
6189.0     0.487805
22625.0    0.487805
Name: price, Length: 189, dtype: float64
8921.0     2
9279.0     2
7898.0     2
8916.5     2
7775.0     2
          ..
45400.0    1
16503.0    1
5389.0     1
6189.0     1
22625.0    1
Name: price, Length: 189, dtype: int64